@model Trabalho_Gustavo_Karoline.Models.Consulta

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Consulta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="PacienteID" class="control-label"></label>
                <select asp-for="PacienteID" class="form-control" asp-items="ViewBag.PacienteID"></select>
                <span asp-validation-for="PacienteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MadicoId" class="control-label"></label>
                <select asp-for="MadicoId" class="form-control" asp-items="ViewBag.MadicoId"></select>
                <span asp-validation-for="MadicoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicamentoId" class="control-label"></label>
                <select asp-for="MedicamentoId" class="form-control" asp-items="ViewBag.MedicamentoId"></select>
                <span asp-validation-for="MedicamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qtde_Vacina" class="control-label"></label>
                <input asp-for="Qtde_Vacina" class="form-control" />
                <span asp-validation-for="Qtde_Vacina" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
