@model Trabalho_Gustavo_Karoline.Models.Medicamento_Injetaveis

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Adicionar</h1>

<h4>Medicamento Injetaveis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="unidade" class="control-label"></label>
                <input asp-for="unidade" class="form-control" />
                <span asp-validation-for="unidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qtde_Estoque" class="control-label"></label>
                <input asp-for="Qtde_Estoque" class="form-control" />
                <span asp-validation-for="Qtde_Estoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
