@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Trabalho feito pelos Alunos:
    <br>
    - Gustavo Alxandre Roldam RA: 2211550909
    <br>
    - Karoline Cristina Galam Botelho RA: 2211551033
    <br> <br>
    GitHub: https://github.com/gustavoroldam/Trabalho_Linguagem_Proggramacao_CSharp
</p>
